<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
 
    <description>operation模块Dubbo服务配置 </description>
    <dubbo:application name="dubbo-consumer-Webapp" owner="allen" /> 
    <dubbo:consumer timeout="3000" check="false" />
    <dubbo:registry  protocol="dubbo" address="${zookeeper.registry.address}" check="false" />
    
    <!-- 通过dubbo注解方式 -->
    <!-- <dubbo:annotation package="com.allen.controller" /> -->
    
    <!-- 通过XML配置方式 -->
    <dubbo:reference id="dubboTestService" interface="com.allen.dubbo.service.DubboTestService" check="false" />
	
</beans>