<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
 
    <description>operation模块Dubbo服务配置 </description>
    <dubbo:application name="consumer-Webapp" owner="allen" /> 
    
    <dubbo:consumer timeout="3000" check="false" />
    
    <!-- address="${zookeeper.registry.address}" -->
    <dubbo:registry  protocol="dubbo" address="${zookeeper.registry.address}" check="false" />
    
    <!-- <dubbo:protocol name="dubbo" port="${app.port}" register="${service.register}"/> -->  
    
    <dubbo:reference id="dubboTestService" interface="com.allen.dubbo.service.DubboTestService" check="false" />
    
    <!-- 通过dubbo注解方式 -->
    <!-- <dubbo:annotation package="com.allen.controller" /> -->
 
	
</beans>